.root {
    -fx-min-width: 960px;
    -fx-min-height: 640px;
    -fx-max-width: 960px;
    -fx-max-height: 640px;
}

#rootTableView {
    -fx-min-width: 960px;
    -fx-min-height: 240px;
    -fx-max-width: 960px;
    -fx-max-height: 240px;
}

.operateBox {
    -fx-spacing: 10px;
    -fx-padding: 6px;
}

#currentSelectedLabel {
    -fx-pref-width: 960px;
    -fx-padding: 5px;
}

.consoleVBox {
    -fx-padding: 10px;
}

#consoleOutputTextArea {
    -fx-pref-width: 940px;
    -fx-pref-height: 120;
}

#consoleInputTextArea {
    -fx-pref-width: 870px;
    -fx-pref-height: 80px;
}

#consoleInputRunButton {
    -fx-start-margin: 10px;
    -fx-pref-width: 70px;
    -fx-pref-height: 80px;
}

.copyrightLabel {
    -fx-pref-width: 960px;
    -fx-padding: 0px 20px;
    -fx-alignment: center;
}